*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
p{
    text-indent: 2em;
    line-height: 1.5;
}
table{
    border-collapse: collapse;
    margin-left: 30px;
    text-align: center;
}
th,td{
    padding: 5px;
}

.wrapper{
    margin:  0 auto;
    width:  80%;
    min-width: 800px;
}