* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html,body{
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

p {
    text-indent: 2em;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    margin-left: 30px;
    text-align: center;
}

th, td {
    padding: 5px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.formula{
    color: aqua;
}

.ul-1 {
    margin-left: 20px;
}

.ul-2 {
    margin-left: 2em;
}
.ul-3 {
    margin-left: 4em;
}

.ul-1-num {
    margin-left: 20px;
    list-style: decimal;
}

.ul-2-num {
    margin-left: 2em;
    list-style: decimal;
}

.ul-3-num {
    margin-left: 4em;
    list-style: decimal;
}

.code{
    background-color: #5d5443;
    color: #e7e9f1;
    font-size: 24px;
    border-radius: 28px;
}

/**************** 连接 ***************/
.header{
    position: fixed;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #d7d7d7;
    border-bottom: 1px solid #cacaca;
}

.header ul{
    text-align: right;
    margin-right: 5%;
}

.header li{
    display: inline-block;
    width: 100px;
    background: darkgrey;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.l-r-wrapper {
    height: 100%;
    overflow: hidden;
    min-width: 800px;
    background-color: #f0f0f0;
}

.left {
    height: 100%;
    width: 25%;
    padding-top: 40px;
    float: left;
    overflow: auto;
}

.right {
    background-color: #fff;
    overflow: auto;
    height: 100%;
    padding-top: 40px;
}

.divLeft{
    float: left;
    margin: 20px 20px 20px 0;
}
.section1 {
    margin-top: 20px;
    border-top: 1px dashed burlywood;
}

.section1 .title {
    text-align: center;
    font-size: 26px;
    border-bottom: 1px dashed burlywood;
    padding: 5px 0;
}

section{
    clear: both;
}

section .content {
    margin-left: 2em;
}

.bg-1 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.clear{
    clear: both;
}
